* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
  /* border: 1px solid black; */
}

body{
  font-family: sans-serif;
  /* overflow: hidden; */
}

.wrapper {
  height: 100%;
  background: #ecf0f1;
}

.frontLogo {
  display: block;
  color: #7158e2;
  font-size: 200px;
  width: 40vw;
}

.lhs {
  float: left;
}

.rhs {
  float: right;
}

.topPart {
  overflow: hidden;
  height: 91.6vh;
  width: 100%;
  display: block;
  background-image: linear-gradient(to left, #95a5a6, #eee 60%);
  /* background: red; */
}

.topPart .rhs {
  overflow: hidden;
  width: 59vw;
  height: 90vh;
  overflow: hidden;
  display: grid;
  place-items: center;
}


.topPart .rhs h1{
  /* font-family: ; */
  font-size: 50px;
  margin-top: 10px;
}

.topPart .lhs {
  overflow: hidden;
  height: 90vh;
  display: grid;
  place-items: center;
  width: 40vw;
}

.header header {
  display: block;
  z-index: 11;
  width: 100%;
  height: 55px;
  background: #3d3d3d;
  color: rgb(136, 193, 243);
  overflow: hidden;
  transition: all .5s ease;
}

.header header ul {
  display: flex;
  align-items: center;
  /* align-items: center; */
  justify-content: space-evenly;
}

.header header ul li {
  text-decoration: none;
  /* justify-items: center; */
  list-style: none;
  padding: 18px;
  width: 100%;
  height: 55px;
  color: aliceblue;
  text-align: center;
  cursor: pointer;
}

.header header ul li:hover{
  background: #95a5a6;
  color: #3d3d3d;
  /* font-weight: 900; */
}


.header header ul li a {
  font-size: inherit;
  height: inherit;
  width: inherit;
  font-weight: inherit;
  text-decoration: none;
  text-align: justify;
  color: inherit;
}

.stickyHeader {
  display: block;
  width: 100%;
  background: yellow;
  position: fixed;
}

.introTracker{
  width: 100%;
 display: block;
 margin-bottom: 30px;
}
.introTracker ul{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.introTracker ul li{
  display: block;
  list-style: none;
  /* background: #7158e2; */
  height: 140px;
  width: 130px;
  padding: 5px;
  position: relative;
  border-radius: 12.5px;
}

.introTracker ul li:nth-child(1){
  background: rgba(255, 77, 77,1.0);
}
.introTracker ul li:nth-child(2){
  background: #3498db;
}
.introTracker ul li:nth-child(3){
  background: rgba(14, 226, 92, 0.8);
}
.introTracker ul li:nth-child(4){
  background: #3d3d3d;
  color: #eee;
}
.introTracker ul li:nth-child(4) .introTrackerDeltaVal{
  color: #000;
}

.introTracker ul li h6{
  display: block;
  position: absolute;
  font-size: 20px;
  top: 7px;
  left: 15px;
}

.introTracker ul li span{
  display: block;
  position: absolute;
}

.introTrackerDataVal{
  font-size: 26px;
  font-weight: bold;
  /* background: red; */
  top: 82px;
  left: 13px;
}

.introTrackerDeltaVal{
  top: 58px;
  padding: 1px 2px;
  left: 20px;
  background: #ccc;
  border-radius: 13px;
  opacity: 0.9;
  z-index: 11;
}

